/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global */

header {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 1;
}

header ul {
}

header ul li {
  display: inline-block;
}

header ul li a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

section {
  height: 100vh;
  position: relative;
  text-align: center;
}

section div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section h1 {
  text-transform: uppercase;
}

/* Classes */

.yellow-text {
  color: #ffff00;
}

/* ID */

#shoe-1 {
  background-color: #ff0000;
}

#shoe-2 {
  background-color: #008000;
}

#shoe-3 {
  background-color: #ffff00;
  color: #008000;
}
